* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.top-content {
    height: 18%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #111827;
}

.main-input {
    margin-top: 0.5em;
    align-self: center;
    text-align: center;
    width: 24em;
    border-radius: 25px;
    font-size: 1.2em;
}

@media screen and (max-width: 580px) {
    .main-input {
        width: 70%
    }
}

.List {
    background-color: #1F2937;
}

.type-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
}

.type {
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}

.info-list {
    height: 70%;
}

.info-card {
    background-color: #334155;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40em;
    padding-bottom: 0.2em;
}

@media screen and (max-width: 600px) {
    .info-card {
        width: 85%;
    }
}

.pokemon-name {
    margin-bottom: 0;
    font-size: 2em;
}

.type-card-title {
    margin-top: 1em;
    font-size: 1.2em;
}