* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-content {
    height: 18%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #BE185D;
}

.main-title {
    color: white
}

.main-input {
    padding-top: 0.2em;
    padding-bottom: 0.15em;
    margin-top: 0.5em;
    align-self: center;
    text-align: center;
    width: 24em;
    border-radius: 25px;
    border: none;
    font-size: 1.2em;
    outline: none;
}

@media screen and (max-width: 580px) {
    .main-input {
        width: 70%;
        margin-top: 0;
    }
}

.List {
    background-color: #E5E7EB;
    padding-bottom: 10em;
}

.type-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
}

.info-list {
    height: 70%;
}

.info-card {
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 2em;
    box-shadow: 4px 8px 4px #888888;
}

@media screen and (max-width: 600px) {
    .info-card {
        width: 85%;
    }
}

.pokemon-name {
    margin-bottom: 0;
    font-size: 2em;
}

.pokemon-id {
    padding-left: 0.4em;
    font-size: 0.6em;
    font-weight: 100;
    color: #71717A;
}

.type-card-title {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.3em;
}

.type-pill {
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-left: 0.5em;
    margin-top: 0;
    height: 1.4em;
    border-radius: 2em;
    color: white;
    font-weight: 500;
}

/* TYPE COLORS */
.type-pill.normal {
    background-color: #A8A77A;
}

.type-pill.fire {
    background-color: #EE8130;
}

.type-pill.water {
    background-color: #6390F0;
}

.type-pill.electric {
    background-color: #F7D02C;
}

.type-pill.grass {
    background-color: #7AC74C;
}

.type-pill.ice {
    background-color: #96D9D6;
}

.type-pill.fighting {
    background-color: #C22E28;
}

.type-pill.poison {
    background-color: #A33EA1;
}

.type-pill.ground {
    background-color: #E2BF65;
}

.type-pill.flying {
    background-color: #A98FF3;
}

.type-pill.psychic {
    background-color: #F95587;
}

.type-pill.bug {
    background-color: #A6B91A;
}

.type-pill.rock {
    background-color: #B6A136;
}

.type-pill.ghost {
    background-color: #735797;
}

.type-pill.dragon {
    background-color: #6F35FC;
}

.type-pill.dark {
    background-color: #705746;
}

.type-pill.steel {
    background-color: #B7B7CE;
}

.type-pill.fairy {
    background-color: #D685AD;
}